ul {
	margin: 0;
	padding: 0;
}

ul li{ 
	list-style:none
	}
#top{
	width:100%;
	height:50px;
	background:url(../images/top_line.png);
	position:relative;
	z-index:40000;
	_overflow-x:hidden;
}

.top1{
	width:960px;
	height:64px;
	background:url(../images/top_line.png);
	margin:0px auto;
	z-index:5;

}
.logo{
	width:235px;
	height:64px;
	background:url(../images/logo.png);
	float:left;
	text-indent:-5000px;
}

.login{
	float:left; 
	padding-top:37px;
	padding-left:34px;
}

#nav {
	width: 960px;
	height: 36px;
	font-family:arial,sans-serif;
	background: url(../images/nav_bg.jpg);
	background-repeat: repeat-x;
}

#nav ul li {
	float: left;
	height: 33px;
	display: inline;
	line-height: 28px;
	padding: 0px 15px;
	position: relative;
}

#nav ul li ul {
	position: absolute;
	z-index: 99;
	display: none;
	top: 36px;
	width: 100px;
	left: 0px;
}

#nav ul li ul li {
	display: block;
	width: 70px;
	height: 26px;
	line-height: 26px;
	border-bottom: 1.5px #FFFFFF solid;
}

#nav ul li a {
	color: #000000;
	text-decoration: none;
}