<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 不使用接口查询 -->
<!-- <mapper namespace="com.chzu.model.UserMapper"> <select id="getUser" 
	parameterType="Integer" resultType="User"> select * from user_table where 
	id = #{id}; </select> </mapper> -->

<!-- 接口查询 -->
<mapper namespace="com.chzu.dao.UserDao">

	<select id="getUser" parameterType="Integer" resultType="User">
		select *
		from user_table where id=#{id};
	</select>
	
	<!-- 为了返回list 类型而定义的returnMap -->
	<resultMap type="User" id="UserList">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="age" property="age" />
		<result column="address" property="address" />
	</resultMap>
	<select id="getAllUser" parameterType="Integer" resultMap="UserList">
		select * from user_table;
	</select>
	
	<!-- useGeneratedKeys设置 为"true"表明要MyBatis获取由数据库自动生成的主 键；keyProperty="id"指定把获取到的主键值注入 
		到user的id属性 -->
	<insert id="saveUser" parameterType="User" useGeneratedKeys="true"
		keyProperty="id">
		insert into user_table(name,sex,address)
		values(#{name},#{sex},#{address})
	</insert>
	
	<update id="updateUser" parameterType="User">
	    update user_table set name=#{name},sex=#{sex},address=#{address} where id=#{id};
	</update>
	
	<delete id="deleteUser" parameterType="Integer">
        delete from user_table where id=#{id}
    </delete>
</mapper>